{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Modules
            </h1>
      <!--ol class="breadcrumb">
	   <li><a href="../index.html">Back to Home</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Properties</a></li>
     
      </ol-->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
        
          <div class="box">
          <div><h3 style="padding-left: 10px;display: inline-block;">Modules</h3>
                <div style="display: inline-flex; margin: 20px" class="pull-right">
                  <button type="button" class="btn btn-block btn-success" style="margin-left: 10px"><a href="/add-verification/">Add modules</a></button>
                </div>
          </div>
            <!--div class="box-header">
              <h3 class="box-title">Data Table With Full Features</h3>
            </div-->
            <!-- /.box-header -->
            <div class="box-body">
            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}