<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Test Portal</title>
    <link href="{% static 'css/login/style_sheet.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/login/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            background: url('/static/images/background.jpg');
            background-size: cover;
            background-position: center;
        }

        
/* Full-width input fields */
input[type=text], input[type=password], select {
width: 92%;
    padding: 9px;
    margin: 4px 0 20px 0;
    display: inline-block;
    position: relative;
    border: none;
    background: #f1f1f1;
    padding-left: 32px;
}
select{
    width: 100%;
    border-radius:10px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
span i{
    position: absolute;

padding: 12px;
color: #a19096;
z-index: 99999;
}
input{
    border-radius: 10px;
}
.login{
    padding:15px;
    width:95% !important;
}
    </style>
    <script language="javascript" type="text/javascript">
        function validate_all() { if ((document.getElementById("username").value == "") || (document.getElementById("email").value == "")) { alert("Required Values Empty - Please Correct"); return false; } }
    </script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 align="center">
                <br />
                <!-- <img id="logo" class="logo" src="{% static 'images/logo-sensus-siteMain.png' %}" alt="Sensus Logo" width="200px" border="0" longdesc="Sensus" /> -->
            </h1>
        </div>
    </div>
    <div class="content-loginform" style="width:500px;border-radius: 20px;">
        <br />
        {% if success %}
            <p style="text-align:center">Thank you for registering your account.</p>

                            <p style="text-align: center;">Thank you for your patience.</p>

                            <div class="container signin">
                <a href="/login/">Sign in</a>
              </div>
        {% else %}
        <form name="login" method="POST">
            <!--input type="hidden" name="startURL" value="https://login.salesforce.com/apex/CP_Welcome" />
            <input type="hidden" name="loginURL" value="" />
            <input type="hidden" name="useSecure" value="true" />
            <input type="hidden" name="orgId" value="00D30000000eRJw" />
            <input type="hidden" name="portalId" value="06030000000eYHL" />
            <input type="hidden" name="loginType" value="3" />
            <input type="hidden" name="action" value="loginAction" /-->
            {% csrf_token %}

            <div class="container login">
                <h1>Request for new account</h1>

                {% if user %}
                    <h4 style="color:red">User already exists</h4>
                {% endif %}
                <span>
                    <!-- <i class="fa fa-user-circle-o"></i> -->
                <input type="text" placeholder="Username" name="username" id='username' required>
            </span>
            <span>
                    <!-- <i class="fa fa-user-circle-o"></i> -->
                <input type="text" placeholder="First Name" name="first_name" id='first_name' required>
            </span>
            <span>
                    <!-- <i class="fa fa-user-circle-o"></i>     -->
                <input type="text" placeholder="Last Name" name="last_name" id='last_name' required>
            </span>
            <span>
                <!-- <i class="fa fa-envelope"></i>     -->
                <input type="text" placeholder="Email" name="email" id='email' required>
            </span>
            <span>
                <input type="password" placeholder="Password" name="password" id='password' required>
            </span>
            <span>
                <input type="text" placeholder="Ethnicity" name="ethnicity" id='ethnicity' required>
            </span>
            <span>
                <select id='gender' name='gender' required>
                        <option value='Male'>Male</option>
                        <option value='Female'>Female</option>
                        <option value='Other'>Other</option>
                      </select>
            </span>
            <span>
                <input type="text" placeholder="age" name="age" id='age' required>
            </span>
            <span>
                <label style="color: white;">
                    are you participent of tai chyi
                    <input type="checkbox" class="radio" value="0" name="fooby[2][]" />yes </label>
                    <label>
                    <label style="color: white;">
                    <input type="checkbox" class="radio" value="1" name="fooby[2][]" />No </label>
            </span>
            <span>
                <textarea id="w3review" name="text" rows="6" cols="57" placeholder="Enter Text" required>
                </textarea>
            </span>    
                <button type="submit" class="registerbtn">Register</button>
              </div>
              
              <div class="container signin">
                <p>Already have an account? <a href="/login/">Sign in</a>.</p>
              </div>
        </form>
        {% endif %}
    </div>
    <div class="footer">
        <p align="center">© 2019 . All rights reserved.</p>
    </div>
    <!--noscript><img src="//ldfr-cloud.net/images/track/17423.png?trk_user=17423&trk_tit=jsdisabled&trk_ref=jsdisabled&trk_loc=jsdisabled" height="0px" width="0px" style="display:none;" /></noscript-->
</body>
</html>
