
{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- partial -->



    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-8">
              <div class="d-lg-flex align-items-baseline">
                <h5 class="text-dark mb-0">
                  Hi, welcome back!
                </h5>
                <p class="ml-md-3 font-weight-light mb-0 mt-1">Last login was {{request.user.last_login}} ago.</p>
              </div>
            </div>
          </div>
          <div class="row pt-4">
            <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                    <h4 class="card-title" style="float: left;">Welcome</h4>
                    <br/>
                    <br/>
                  </div>
                  <div class="row">
                    <p>Hey Welcome to our questionnare and thanks for participating in the survey</p>
                  </div>
                  <div class="col-md-6" align="right">
                        <button type="button" class="btn btn-outline-primary btn-icon-text" id="save">                                                    
                          Questionnare
                        </button>

                      
                  </div>
                </div>
            </div>
          </div>
        
   
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
      <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
{% endblock %}
{% block script %}
  <script type="text/javascript">
   $( document ).ready(function() {

$("input:checkbox").on('click', function() {
  // in the handler, 'this' refers to the box clicked on
  var $box = $(this);
  if ($box.is(":checked")) {
    // the name of the box is retrieved using the .attr() method
    // as it is assumed and expected to be immutable
    var group = "input:checkbox[name='" + $box.attr("name") + "']";
    // the checked state of the group/box on the other hand will change
    // and the current value is retrieved using .prop() method
    $(group).prop("checked", false);
    $box.prop("checked", true);
  } else {
    $box.prop("checked", false);
  }
});
        $('#save').click(function(){
          window.location.href = '/question/'
 
});
      });    

  </script>
{% endblock %}